[submodule "web-gadch"]
	path = web-gadch
	url = git@192.168.200.80:gadch/web-gadch_docker.git
[submodule "networks-gadch"]
	path = networks-gadch
	url = git@192.168.200.80:gadch/networks-gadch.git
[submodule "dashy"]
	path = dashy
	url = git@github.com:GorillaTi/dashy.git
[submodule "portainer-agent"]
	path = portainer-agent
	url = git@github.com:GorillaTi/portainer-agent.git
[submodule "portainer-edgeagent"]
	path = portainer-edgeagent
	url = git@github.com:GorillaTi/portainer-edgeagent.git
[submodule "html-cautivo"]
	path = html-cautivo
	url = git@github.com:GorillaTi/html-cautivo.git
