<?xml version="1.0" encoding="utf-8"?>
<config>
  <accountCount>12</accountCount>
  <accountExpireEnabled>0</accountExpireEnabled>
  <accountExpireTime>10368000</accountExpireTime>
  <accountFullGroupAccess>1</accountFullGroupAccess>
  <accountLink>1</accountLink>
  <accountPassToImage>0</accountPassToImage>
  <appVersion>3211.22070201</appVersion>
  <applicationUrl>https://syspass.chuquisaca.gob.bo</applicationUrl>
  <authBasicAutoLoginEnabled>1</authBasicAutoLoginEnabled>
  <authBasicDomain></authBasicDomain>
  <authBasicEnabled>1</authBasicEnabled>
  <backup_hash></backup_hash>
  <checkUpdates>1</checkUpdates>
  <checknotices>0</checknotices>
  <configDate>1662130383</configDate>
  <configHash>0f14542a17618374e52cd320a7bdfcc27260a95a</configHash>
  <configSaver>sysadmin</configSaver>
  <configVersion>3211.22070201</configVersion>
  <databaseVersion>3211.22070201</databaseVersion>
  <dbHost>192.168.200.63</dbHost>
  <dbName>syspass01</dbName>
  <dbPass>8kb5jb^T88DljEsd</dbPass>
  <dbPort>3306</dbPort>
  <dbSocket></dbSocket>
  <dbUser>sp_630e73ea220d8</dbUser>
  <debug>0</debug>
  <demoEnabled>0</demoEnabled>
  <dokuwikiEnabled>0</dokuwikiEnabled>
  <dokuwikiNamespace></dokuwikiNamespace>
  <dokuwikiPass></dokuwikiPass>
  <dokuwikiUrl></dokuwikiUrl>
  <dokuwikiUrlBase></dokuwikiUrlBase>
  <dokuwikiUser></dokuwikiUser>
  <encryptSession>0</encryptSession>
  <export_hash></export_hash>
  <filesAllowedExts></filesAllowedExts>
  <filesAllowedMime/>
  <filesAllowedSize>1024</filesAllowedSize>
  <filesEnabled>1</filesEnabled>
  <globalSearch>1</globalSearch>
  <httpsEnabled>0</httpsEnabled>
  <installed>1</installed>
  <ldapAds>0</ldapAds>
  <ldapBase></ldapBase>
  <ldapBindPass></ldapBindPass>
  <ldapBindUser></ldapBindUser>
  <ldapDefaultGroup></ldapDefaultGroup>
  <ldapDefaultProfile></ldapDefaultProfile>
  <ldapEnabled>0</ldapEnabled>
  <ldapGroup></ldapGroup>
  <ldapProxyUser></ldapProxyUser>
  <ldapServer></ldapServer>
  <ldapTlsEnabled>0</ldapTlsEnabled>
  <ldapType></ldapType>
  <logEnabled>1</logEnabled>
  <logEvents/>
  <mailAuthenabled>0</mailAuthenabled>
  <mailEnabled>0</mailEnabled>
  <mailEvents></mailEvents>
  <mailFrom></mailFrom>
  <mailPass></mailPass>
  <mailPort>25</mailPort>
  <mailRecipients></mailRecipients>
  <mailRequestsEnabled>0</mailRequestsEnabled>
  <mailSecurity></mailSecurity>
  <mailServer></mailServer>
  <mailUser></mailUser>
  <maintenance>0</maintenance>
  <passwordSalt>395b97935bc9453c6cb3f7d1cdc671ee037f1dabf7e8058430a011357b4f</passwordSalt>
  <proxyEnabled>0</proxyEnabled>
  <proxyPass></proxyPass>
  <proxyPort>8080</proxyPort>
  <proxyServer></proxyServer>
  <proxyUser></proxyUser>
  <publinksEnabled>0</publinksEnabled>
  <publinksImageEnabled>0</publinksImageEnabled>
  <publinksMaxTime>600</publinksMaxTime>
  <publinksMaxViews>3</publinksMaxViews>
  <resultsAsCards>0</resultsAsCards>
  <sessionTimeout>300</sessionTimeout>
  <siteLang>es_ES</siteLang>
  <siteTheme>material-blue</siteTheme>
  <ssoDefaultGroup>0</ssoDefaultGroup>
  <ssoDefaultProfile>0</ssoDefaultProfile>
  <syslogEnabled>0</syslogEnabled>
  <syslogPort>514</syslogPort>
  <syslogRemoteEnabled>0</syslogRemoteEnabled>
  <syslogServer></syslogServer>
  <upgradeKey></upgradeKey>
  <wikiEnabled>0</wikiEnabled>
  <wikiFilter></wikiFilter>
  <wikiPageurl></wikiPageurl>
  <wikiSearchurl></wikiSearchurl>
</config>
